.drop-zone {
  display: flex;
  flex-direction: column;
  inline-size: 24rem;
  background-color: darkgrey;

  .title {
    font-weight: 600;
    text-align: center;
    background-color:grey;
    padding: 0.5rem;    
  }
  .active {
    background-color:red;
  }

  > ul {
    list-style: none;
    padding: 0.5rem;
  }

}
