.home {
  display: flex;
  flex-direction: row;
  gap: 0.2rem;
  justify-content: center;
  min-width: min(48rem, 100vw);
  block-size: calc(100vh - 2rem);
  margin-inline: auto;
  margin-block: 1rem;
}
