.header {
  background-color: darkgray;
  display: flex;  
  align-items: center;


  .logo {
    padding-inline-end: 1rem;
  }
  > nav {
    ul {
        display: flex;
        gap:0.5rem;

        > li {
            color: blueviolet;
        }
    }
  }
}
