:root {
  --font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  --line-height: 1.5;
  --font-weight: 400;

  --color: rgba(255, 255, 255, 0.87);
  --background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


input,
label,
select,
textarea,
button,
fieldset,
legend,
datalist,
output,
option,
optgroup {
    font-family: inherit;
}

ul {
    list-style: none;
}

a {
    color: inherit;

    text-decoration: none;
}

html {
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  line-height: var(--line-height);

  background-color: var(--background-color);
  color: var(--color);
}

body{
  display: flex;
  flex-direction: column;
  margin-inline: auto;
}
